<h1>Find your state legislator using HTML5 Location + Sunlight API</h1>
<%= form_tag("static_pages/contact", method: "get") do %>
  <%= hidden_field_tag(:location) %>
  <%= button_tag("Find my state legislators!", type: 'submit') %>
<% end %>
<br>
<!-- <button onclick="getLocation()">Get my location.</button> -->
<script>
var x = document.getElementById("location");
window.onload = function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(passPosition);
    } else {
        x.value = "Geolocation is not supported by this browser.";
    }
}
function passPosition(position) {
    x.value = position.coords.latitude + "," + position.coords.longitude; 
}
</script>